<h1>New Question</h1>

<%= form_with(model: @question, url: document_questions_path, local: true) do |form| %>
  <%= render 'form', question: @question, form: form %>
<% end %>
<%= link_to 'Back', document_questions_path %>
